<mat-list>
  <mat-list-item class="mat-list-item">
    <mat-card class="profile-card">
      <mat-card-content>
        <mat-grid-list cols="7" rowHeight="130px">
          @for (tile of tiles; track tile) {
            <mat-grid-tile
              [colspan]="tile.cols"
              [rowspan]="tile.rows"
              [style.background]="tile.color">         
              <ng-container *ngIf="tile.text === 'Profile Actions'"><app-profile-actions></app-profile-actions></ng-container>
            </mat-grid-tile>
          }
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card class="custom-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{memory.title}}</mat-card-title>
          <mat-card-subtitle>{{memory.location}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{memory.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>EDIT</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>      
      <mat-card></mat-card>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
  
  
  <mat-divider></mat-divider>
  <mat-list-item>Footer</mat-list-item>
</mat-list>
